<a href="https://colab.research.google.com/github/JeanSosa/CPEN65-2/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
animals = ["cat","dog","cow"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0] =",x)
print("Array[1] =",y)

Array[0] = cat
Array[1] = dog

In [ ]:
animals = ["cat","dog","cow"]
animals[0] = "monkey"
x = animals[0]
print("Array[0] = ",x)
print(animals)

Array[0] =  monkey
['monkey', 'dog', 'cow']

In [ ]:
animals = ["monkey","cat","dog","fish"]
v = len(animals)
print(v)

4

In [ ]:
animals = ["monkey","cat","dog","fish", "cow"]
for x in animals:
  print(x)

monkey
cat
dog
fish
cow

In [ ]:
animals = ["monkey","cat","dog","fish", "cow"]
for index , val in enumerate(animals):
  print(index,val)

0 monkey
1 cat
2 dog
3 fish
4 cow

In [ ]:
animals = ["monkey","cat","dog","fish", "cow"]
animals.append("lion")
print(animals)

['monkey', 'cat', 'dog', 'fish', 'cow', 'lion']

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,]
numbers.insert(2,12)
print(numbers)

[1, 2, 12, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
animals = ["monkey","cat","dog","fish", "cow"]
animals.pop(3)
print(animals)

['monkey', 'cat', 'dog', 'cow']